@tailwind base;
@tailwind components;
@tailwind utilities;

/* Ghost element for fixed nav */

body::before {
    display: block;
    content: '';
    height: 80px;
  
  }

body {
    @apply bg-dark-800 relative
}


/* Center Container */

.container {
    @apply mx-auto p-5
}


/* Header for Tasklist */

.header {
    @apply py-5 px-12 text-center md:text-left md:flex justify-between items-center
}


/* Button types */

.btn-custom {
    @apply p-1 px-2 mt-2 mx-auto md:mx-0 text-lg md:text-xl
}

.btn-orange {
    @apply rounded-md border-2 text-brand2-300 bg-dark-700 border-brand2-300
} 

.btn-orange:hover {
    @apply transition-all duration-300 text-white bg-brand2-300 border-white
}



.btn-header {
    @apply btn-custom rounded text-brand-100 hover:underline
}

.btn-header.active {
    @apply text-brand-250
}
.btn-header:not(.active) {
    @apply text-white
}


.iconButton {
    @apply p-2  text-2xl hidden sm:block hover:opacity-80 rounded-full bg-white
}



/* CSS for Tasklist and tasks */

.task {
    @apply p-2 my-1 rounded-sm flex items-center  border-2 hover:opacity-80 duration-300 relative
}

.done {
    @apply bg-brand2-400 text-white 
}

.notdone {
    @apply bg-brand2-350 text-white 
}





