[Unit]
Description=Timer to renew certificate

[Timer]
OnBootSec=5sec
OnCalendar=Mon *-*-* 20:00:00
Unit=renew.service

[Install]
WantedBy=multi-user.target